.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.products-grid__item-wrapper {
  &:hover {
    .products-grid__item-button {
      bottom: 0;
      z-index: 2;
    }
  }
}

.products-grid__item-image {
  position: relative;
  overflow: hidden;
}

.products-grid__item-button {
  width: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: all .4s ease;
  cursor: pointer;
}

.products-grid__item-category {
  font-size: 22px;
  color: $text-light;
  text-transform: capitalize;
}

.products-grid__item-title {
  font-size: 34px;
  font-weight: bold;
  color: $text-dark;
}

.products-grid__item-price {
  font-size: 29px;
  color: $text-light;
}

@media (max-width: 991px) {
  .products-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .products-grid__item-wrapper {
    margin-bottom: 32px;
  }

  .products-section--right {
    flex-basis: 100%;
    max-width: 100%;
  }
}
