@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $archivo;
  font-size: 18px;
}

h1 {
  font-family: $archivo;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 40px;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

@media (max-width: 680px) {
  .container {
    padding: 0 20px;
  }
}
