$color-black: #000000;
$color-white: #ffffff;
$color-gray: #9b9b9b;
$color-gray-light: #B4B4B4;
$color-gray-dark: #656565;

$text-light: #656565;
$text-dark: #000000;

$border-light: #E4E4E4;


//Fonts
$archivo: "Archivo", san-serif
